body {
    background-color: #f8f8f7;
    color: #1d1d1f;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    text-align: center; /* Centers the text, giving a more balanced look */
    transition: background-color 0.5s ease-in-out;
}

.container {
    max-width: 800px; /* Restricts the width for larger screens */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    text-align: left;
}

.header {
    background: linear-gradient(to bottom, #f8f8f7 0%,#f2f2f2 100%);
    box-shadow: 0 0.5px 0 0 #fff, 0 1px 2px 0 rgba(0,0,0,.1);
    color: #1d1d1f;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
}

.section {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 1px 0 rgba(0,0,0,.5), 0 1px 3px 0 rgba(0,0,0,.3); /* Adds subtle shadow */
}

.section:hover {
    background-color: #f8f8f7;
    transition: background-color 0.3s ease-in-out;
}

h1, h2, h3 {
    font-weight: 500; /* Not too bold, not too light */
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem; /* Make the main heading larger */
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem; /* Distinguish section headings */
    margin-bottom: 1rem;
    color: #6e6e73; /* Subtle differentiator for hierarchy */
}

button, input[type="submit"], #check {
    background-color: #1d1d1f;
    color: #fff;
    border: none; /* Removes border */
    border-radius: 20px; /* Fully rounded ends */
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px; /* Space between input and button */
    cursor: pointer; /* Indicates clickable */
    transition: all 0.3s ease-in-out;
}

button:hover, input[type="submit"]:hover, #check:hover {
    background-color: #404040; /* Darkens the button slightly */
}

input[type="text"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 1rem; /* Added space for clarity */
    border: 1px solid #d1d1d6; /* Visible border, but not too stark */
    border-radius: 10px; /* Slightly rounded corners */
    font-size: 1rem;
}

input[type="text"]:focus {
    border-color: #1d1d1f; /* Highlight field when active */
    outline: none; /* Remove default focus style */
}

input[type="text"]:hover {
    background-color: #f8f8f7;
    transition: background-color 0.3s ease-in-out;
}

/* Optional: Add responsiveness to the layout */
@media (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    input[type="text"] {
        width: calc(100% - 20px); /* Adjust for smaller screen */
    }
}
